.profesional__titulo{
    text-align: center;
    margin: 50px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #343434;
}

@media (max-width:1200px) {
    .profesional__titulo{
        margin: 25px 0;
        font-size: 22px; 
    }
}