.profesional__imagen{
    width: 50%;
    height: 80%;
    align-self: center;
    margin: 0px 50px;
}


@media (max-width:1220px) {
    .profesional__imagen{
        width: 100%;
        height: 300px;
        margin: 0;
    }
}

@media (max-width:768px) {
    .profesional__imagen{
        height: 170px;
    }
}
