.profesional__subtitulo{
    margin: 20px 10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(75, 73, 73);
}

@media (max-width:1200px){
    .profesional__subtitulo{
        margin: 10px 10px;
        font-size: 16px;
    }
}