.hobbies__lista{
    display: flex;
    justify-content: space-around;
}

@media (max-width:1200px) {
    .hobbies__lista{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
    }
    
}